@import url(../font/stylesheet.css);
@import url(../sass/nav.css);
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    -webkit-transform: translateX(-10rem);
    -moz-transform: translateX(-10rem);
    -ms-transform: translateX(-10rem);
    -o-transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem);
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    -webkit-transform: translateX(10rem);
    -moz-transform: translateX(10rem);
    -ms-transform: translateX(10rem);
    -o-transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem);
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
    -webkit-transform: translateY(5rem);
    -moz-transform: translateY(5rem);
    -ms-transform: translateY(5rem);
    -o-transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
    -webkit-transform: translateY(-5rem);
    -moz-transform: translateY(-5rem);
    -ms-transform: translateY(-5rem);
    -o-transform: translateY(-5rem); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'URW DIN', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1; }

.about,
.instafeed,
.charity {
  padding: 8rem 0;
  text-align: center; }
  .about-container,
  .instafeed-container,
  .charity-container {
    max-width: 100rem;
    padding: 0 8rem;
    margin: 0 auto; }

.header {
  background-image: url(../img/julian-evans-01.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative; }
  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    text-align: center; }
    .header-text-main {
      font-size: 5.2rem;
      font-weight: 400;
      animation: moveInBottom 1s linear;
      -webkit-animation: moveInBottom 1s linear; }
    .header-text-sub {
      font-size: 3.5rem;
      font-weight: 300;
      animation: moveInBottom 1s linear;
      -webkit-animation: moveInBottom 1s linear; }

.about-text {
  font-size: 2.2rem;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 3rem; }

.about-img {
  display: block;
  margin: 0 auto;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; }

.expedition {
  background-color: #e1dedd;
  padding: 8rem 0;
  max-width: 100%;
  text-align: center; }
  .expedition-header {
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 4rem; }
    .expedition-header::after {
      content: "";
      display: block;
      width: 3rem;
      height: 1px;
      margin: 0 auto;
      margin-top: 2rem;
      background-color: #fc1050; }
  .expedition-container {
    position: relative; }
    .expedition-container-item {
      display: inline-block;
      padding: 1.5rem; }
      .expedition-container-item-img {
        padding: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        height: auto; }
      .expedition-container-item-name {
        color: #252a36;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.75; }
      .expedition-container-item-area {
        font-size: 1.8rem;
        font-weight: 300;
        color: #999999; }
  .expedition-btn:link, .expedition-btn:visited {
    display: inline-block;
    text-decoration: none;
    color: #252a36;
    font-size: 2rem;
    background-color: transparent;
    padding: 1.7rem 3rem;
    border: 2px solid #252a36;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    margin: 8rem auto 0 auto;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s; }
  .expedition-btn:hover, .expedition-btn:active {
    color: #fff;
    background-color: #252a36; }
  .expedition-btn:focus {
    outline: transparent; }
  .expedition .slick-prev, .expedition .slick-next {
    position: absolute;
    z-index: 5;
    top: 50%;
    margin-top: -20px;
    width: 60px;
    height: 60px;
    border: 2px solid #ffba14;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s linear;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s linear;
    width: 60px;
    height: 60px;
    z-index: 10; }
    .expedition .slick-prev:hover, .expedition .slick-next:hover {
      background: #ffba14;
      transition: 0.3s linear;
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -moz-transition: 0.3s; }
      .expedition .slick-prev:hover::before, .expedition .slick-prev:hover::after, .expedition .slick-next:hover::before, .expedition .slick-next:hover::after {
        content: "";
        position: absolute;
        right: 22px;
        width: 14px;
        height: 2px;
        background-color: #fff; }
  .expedition .slick-prev {
    left: 40px; }
    .expedition .slick-prev::before, .expedition .slick-prev::after {
      content: "";
      position: absolute;
      left: 22px;
      width: 14px;
      height: 2px;
      background-color: #ffba14; }
    .expedition .slick-prev::before {
      top: 33px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      transition: 0.3s linear;
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s linear;
      -webkit-backface-visibility: hidden; }
    .expedition .slick-prev::after {
      top: 24px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: 0.3s linear;
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s linear;
      -webkit-backface-visibility: hidden; }
  .expedition .slick-next {
    right: 40px; }
    .expedition .slick-next::before, .expedition .slick-next::after {
      content: "";
      position: absolute;
      right: 22px;
      width: 14px;
      height: 2px;
      background-color: #ffba14; }
    .expedition .slick-next::before {
      top: 33px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: 0.3s linear;
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s linear;
      -webkit-backface-visibility: hidden; }
    .expedition .slick-next::after {
      top: 24px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      transition: 0.3s linear;
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s linear;
      -webkit-backface-visibility: hidden; }

.instafeed-header {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.75; }

.instafeed-items {
  width: 100%;
  margin: 5rem 0; }

.instafeed-img {
  display: inline-block;
  width: 100px;
  height: auto;
  margin: 0 2px 4px 2px; }

.instafeed-quote-text {
  margin: 2rem 0;
  font-size: 2rem; }

.instafeed-quote-caption {
  font-size: 2rem; }

.charity {
  background-color: #e1dedd; }
  .charity-header {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.75;
    margin-bottom: 4rem; }
  .charity-img {
    display: inline-block;
    width: 10rem;
    height: auto;
    margin: 0 .45rem; }

.footer {
  background-color: #222222;
  color: #999999; }
  .footer-sign-up {
    text-align: center;
    padding: 4rem 2rem 0 2rem; }
    .footer-sign-up-header {
      color: #fff;
      font-size: 2rem;
      font-weight: 300; }
    .footer-sign-up-invite {
      margin: 2rem 0;
      font-size: 1.7rem; }
    .footer-sign-up-box {
      margin-top: 3rem;
      position: relative;
      font-size: 1.6rem;
      margin: 0 auto; }
    .footer-sign-up-input {
      padding: 1.5rem;
      border: none;
      background-color: #999999;
      color: #eeeeee;
      font-size: 1.6rem; }
      .footer-sign-up-input:focus {
        outline: none; }
    .footer-sign-up-submit {
      padding: 1.5rem;
      border: none;
      font-size: 1.6rem;
      background-color: #444444;
      color: #fff;
      transform: translateX(-10%);
      -webkit-transform: translateX(-10%);
      -moz-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
      -o-transform: translateX(-10%);
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s; }
      .footer-sign-up-submit:hover {
        background-color: #fc1050; }
      .footer-sign-up-submit:focus {
        outline: none; }
  .footer-container {
    padding: 4rem 0 3rem 0; }
  .footer-social {
    text-align: center;
    padding-bottom: 4rem;
    border-bottom: .5px solid #999999;
    margin-bottom: 2rem; }
    .footer-social-icons {
      font-size: 2.2rem; }
    .footer-social-link:link, .footer-social-link:visited {
      margin: 1rem;
      color: #fff;
      transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      -webkit-transition: all .3s;
      text-decoration: none; }
    .footer-social-link:hover, .footer-social-link:active {
      color: #999999; }
  .footer-copyright {
    display: flex;
    justify-content: space-between; }
  .footer-right, .footer-left {
    font-size: 1.5rem; }
  .footer-right {
    padding-right: 4rem; }
  .footer-left {
    padding-left: 4rem; }
  .footer-back2top {
    margin-top: -1rem; }
    .footer-back2top-icon:link, .footer-back2top-icon:visited {
      text-decoration: none;
      font-size: 3rem;
      color: #999999; }
