// base/////////////////
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1rem = 10px;
}

body {
    font-family: 'URW DIN', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1;
}


// generic/////////////////
.about,
.instafeed,
.charity {
    padding: 8rem 0;
    text-align: center;

    &-container {
        max-width: 100rem;
        padding: 0 8rem;
        margin: 0 auto;
    }
}