@import "animation.scss";
@import "base&generic.scss";
@import "nav.scss";
@import "expedition.scss";
@import url(../font/stylesheet.css);


// header////////////////////////
.header {

    background-image: url(../img/julian-evans-01.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;

    &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;

        &-main {
            font-size: 5.2rem;
            font-weight: 400;

            animation: moveInBottom 1s linear;
            -webkit-animation: moveInBottom 1s linear;
        }

        &-sub {
            font-size: 3.5rem;
            font-weight: 300;

            animation: moveInBottom 1s linear;
            -webkit-animation: moveInBottom 1s linear;
        }
    }
}


// about//////////////////
.about {
    &-text {
        font-size: 2.2rem;
        line-height: 1.7;
        text-align: center;
        margin-bottom: 3rem;
    }

    &-img {
        display: block;
        margin: 0 auto;
        width: 16rem;
        height: 16rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}


// instafeed///////////////////////
.instafeed {

    &-header {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.75;
    }

    &-items {
        width: 100%;
        margin: 5rem 0;
    }

    &-img {
        display: inline-block;
        width: 100px;
        height: auto;
        margin: 0 2px 4px 2px;
    }

    &-quote {
        &-text {
            margin: 2rem 0;
            font-size: 2rem;
        }

        &-caption {
            font-size: 2rem;
        }
    }
}


// charity/////////////////
.charity {
    background-color: #e1dedd;

    &-header {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.75;
        margin-bottom: 4rem;
    }

    &-img {
        display: inline-block;
        width: 10rem;
        height: auto;
        margin: 0 .45rem;
    }
}


// footer/////////////////////

.footer {
    background-color: #222222;
    color: #999999;

    &-sign-up {
        text-align: center;
        padding: 4rem 2rem 0 2rem;

        &-header {
            color: #fff;
            font-size: 2rem;
            font-weight: 300;
        }

        &-invite {
            margin: 2rem 0;
            font-size: 1.7rem;
        }

        &-box {
            margin-top: 3rem;
            position: relative;
            font-size: 1.6rem;
            margin: 0 auto;
        }

        &-input {
            padding: 1.5rem;
            border: none;
            background-color: #999999;
            color: #eeeeee;
            font-size: 1.6rem;

            &:focus {
                outline: none;
            }
        }

        &-submit {
            padding: 1.5rem;
            border: none;
            font-size: 1.6rem;
            background-color: #444444;
            color: #fff;
            transform: translateX(-10%);
            -webkit-transform: translateX(-10%);
            -moz-transform: translateX(-10%);
            -ms-transform: translateX(-10%);
            -o-transform: translateX(-10%);
            transition: all .3s;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;

            &:hover {
                background-color: #fc1050;
            }

            &:focus {
                outline: none;
            }
        }
    }

    &-container {
        padding: 4rem 0 3rem 0;
    }

    &-social {
        text-align: center;
        padding-bottom: 4rem;
        border-bottom: .5px solid #999999;
        margin-bottom: 2rem;

        &-icons {
            font-size: 2.2rem;
        }

        &-link {

            &:link,
            &:visited {
                margin: 1rem;
                color: #fff;
                transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
                -webkit-transition: all .3s;
                text-decoration: none;
            }

            &:hover,
            &:active {
                color: #999999;
            }
        }
    }

    &-copyright {
        display: flex;
        justify-content: space-between;
    }

    &-right,
    &-left {
        font-size: 1.5rem;
    }

    &-right {
        padding-right: 4rem;
    }

    &-left {
        padding-left: 4rem;
    }

    &-back2top {
        margin-top: -1rem;

        &-icon:link,
        &-icon:visited {
            text-decoration: none;
            font-size: 3rem;
            color: #999999;
        }
    }
}